.img-container-compnay-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarIcon {
	justify-content: center;
	padding-left: 8px;
}

.company-avatar{
    border-radius: 25% !important;
}

.dashBlog {
	height: 450px;
}

.dashBlog-scroll {
	overflow: auto;
}



.card {
	margin-top: 1rem;
	margin-bottom: 0;
}

.card-congratulations .avatar {
    margin-bottom: 0;
}


.birthWishCard{
    padding: 1rem 1rem;
}

// .profile-latest-img img {
// 	margin-top: 1.2rem;
// }

.birthday-person-img img {
	margin-top: 1.2rem;
}

.birthday-person-img {
	padding-right: calc(var(--bs-gutter-x) * .3);
    padding-left: calc(var(--bs-gutter-x) * .3);
}

.budget-wrapper-2 {
    text-align: center;
}

.revenue-report-wrapper-2 {
    padding: 1.286rem 1.5rem;
    padding-top: 1.286rem;
    padding-right: .5rem;
    padding-bottom: 1.286rem;
    padding-left: 1.5rem;
}

.marginLeft {
	margin-left: 120px;
}

.marginL-5 {
    margin-left: 5px;
}

// .apply-job-package-dashboard {
    // padding: 0.4rem;
    // margin-bottom: 1.15rem;
// }

.card-apply-job-d .apply-job-package-d {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem;
    margin-bottom: 1.15rem;
}

.vacancy {
    font-size: 16px;
}

.avatar2 img{
    border-radius: 25% !important;
}

.midea-player {
    box-shadow: 0 4px 24px 0 rgb(188, 71, 217);
    border-radius: 25px;
}

.img-h {
    height: 350px;
}
.slider-box {
    box-shadow: 0px 2px 6px 2px rgb(15, 70, 190);
    border-radius: 10px;
    width: 140px;
    height: 100px;
}
.overide-bgColor {
    background: none !important;
}
.img-size {
    width: 140px !important;
    height: 100px !important;
    box-shadow: 0px 2px 6px 2px rgb(15, 190, 184);
    border-radius: 10px;
}
.img-size:hover {
    width: 150px !important;
    height: 110px !important;
    box-shadow: 0px 2px 6px 2px rgb(15, 70, 190);
    border-radius: 10px;
}

.img-size2 {
    width: 90%;
    height: 98%;
    border-radius: 5px;
    box-shadow: 1px 2px 3px 2px #6882e9;
}
.text-opacity{
    opacity: 0.6;
    line-height: 0.4rem !important;
}
.h-img-group {
    height:110px;
    box-shadow: 3px 3px 5px 3px #68e9c4;
    padding: 5px;
    border-radius: 5px;
}

.h-img-group:hover {
    height:130px;
    box-shadow: 3px 3px 5px 3px #82e968;
    padding: 15px;
    border-radius: 5px;
}

.img-size2:hover {
    box-shadow: 1px 2px 3px 2px #e9e768;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  .converflow_box_shado {
    box-shadow: 5px 5px 8px 5px #6f8b6d;
    border-radius: 10px;
  }

  .card_box_shado {
    border-radius: 10px;
    width: 300px !important;
    height: 300px !important;
  }